<div class="button-container">
  <button class="icon-button" (click)="addRole()">
    <img src="assets/images/add.svg" alt="Add" class="icon">
    <img src="assets/images/role.svg" alt="Role" class="icon">
  </button>
  <button class="icon-button" (click)="addUser()">
    <img src="assets/images/add.svg" alt="Add" class="icon">
    <img src="assets/images/user.svg" alt="Role" class="icon">
  </button>
  <div class="toggle-container">
    <label class="user-toggle"> Show User </label>
    <ejs-switch [checked]="showUsers" (change)="onToggleUsers($event)"></ejs-switch>
  </div>
</div>

<ejs-treeview
  id='treeelement'
  #roleTree
  [fields]='field'
  allowEditing="true"
  allowDragAndDrop="true"
  allowMultiSelection="true"
  [nodeTemplate]="nodeTemplate"
  (nodeClicked)='nodeclicked($event)'
  (nodeEditing)="onNodeEditing($event)"
  (nodeEdited)="onNodeEdited($event)"
  >
</ejs-treeview>

<ejs-contextmenu
  id="contentmenutree"
  #contentmenutree
  target='#treeelement'
  [items]="menuItems"
  (beforeOpen)="beforeopen($event)"
  (select)="menuclick($event)">
</ejs-contextmenu>

<ng-template #nodeTemplate let-data>
  <div *ngIf="!data.hidden" class="node-content">
    <span class="name">
      <img [src]="data.isRole ? 'assets/images/role.svg' : 'assets/images/user.svg'" alt="Icon" class="icon"> {{ data.name }}
      <span *ngIf="data.isRole" class="vertical-bar">|</span>
      <span *ngIf="data.isRole">
        {{ data.users?.length }} {{ data.users?.length === 1 ? 'User' : 'Users' }}
      </span>
    </span>
    <div class="action-icons">
      <img src="assets/images/add.svg" alt="Add Icon" class="icon action-icon" *ngIf="data.isRole">
      <img src="assets/images/edit.svg" alt="Edit Icon" class="icon action-icon" *ngIf="data.isRole">
      <img src="assets/images/delete.svg" alt="Delete Icon" class="icon action-icon">
      <img src="assets/images/visible.svg" alt="Visible Icon" class="icon action-icon" *ngIf="data.isRole">
    </div>
  </div>
</ng-template>
